.projects__info {
  height: 100vh;
  padding-top: 70px;
  &-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
  }
}
.projects__content .title {
  text-align: center;
}
.projects__content.info {
  height: 100%;
  position: relative;
}
.types_content {
  width: 45%;
}
.show {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 32px;
  background-color: #3a7fc1;
  border: none;
  color: #fff;
  padding: 0 15px;
  border-radius: 3px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-left: 20px;
  transition: all 0.4s ease-in-out;
  align-self: flex-end;
  &:hover {
    background-color: #134f88;
  }
  &.disabled {
    background-color: #d1d1d1;
    color: #000000;
  }
}
.configuration {
  margin: 5px auto 0 auto;
  text-align: center;
  &-back {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 175px;
    padding: 5px 6px;
    margin: 0 auto;
    background-color: #3a7fc1;
    border-radius: 3px;
    color: #ffff;
    transition: all 0.4s ease-in-out;
    &:hover {
      background-color: #134f88;
    }
  }
}
.images__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  position: relative;
  &-item {
    padding: 0 10px 15px 10px;
    display: flex;
    flex-direction: column;
    &-text {
      font-weight: 600;
      margin-top: 5px;
      font-size: 20px;
    }
  }
  &-img {
    max-width: 300px;
    cursor: pointer;
  }
  &-items {
    display: flex;
    flex-wrap: wrap;
  }
}
.popup_edit-date {
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0px;
  display: none;
  &-content {
    position: relative;
    border-radius: 12px;
    background-color: #f9f9f9;
  }
  &-item {
    display: flex;
    flex-direction: column;
    &-text {
      align-self: flex-start;
    }
    &.time {
      margin-top: 5px;
    }
  }
  &.active {
    display: flex;
  }
}
.date-picker {
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  padding: 16.5px 14px;
  font-size: 1rem;
  width: 100%;
  &:hover {
    border-color: black;
  }
  &:focus {
    border-color: #1976b2;
  }
}
.button-edit {
  position: absolute;
  bottom: -75px;
  right: 50%;
  transform: translateX(50%);
  color: #3f51b5;
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  line-height: 1.75;
  background-color: transparent;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  border: none;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: #ebedf5;
  }
}
.MuiInput-underline:before {
  display: none;
}
.MuiInput-underline:after {
  display: none;
}
.MuiInputBase-input {
  border: 1px solid !important;
  border-color: rgba(0, 0, 0, 0.23) !important;
  border-radius: 4px !important;
  padding: 16.5px 14px !important;
  font-size: 1rem !important;
  width: 100% !important;
  &:hover {
    border-color: black !important;
  }
  &:focus {
    border-color: #1976b2 !important;
  }
}
